
*{
    margin: 0px;
    padding: 0px;
    outline: 1px dashed red;
    font-family: sans-serif;
    }

#login {
    background-color: palegoldenrod;
    }

    #login h2 {
        margin-left: 730px;
    }

    #login div {
        vertical-align: top;
        width: 400px;
        display: inline-block;
        margin-left: 300px;
    }

    #login div label{
        width: 100px;
        display: inline-block;
        margin-bottom: 5px;
    }

    #login div input{
        width: 200px;
        display: inline-block;
        margin-bottom: 5px;
    }

#login_success {
    background-color: palegoldenrod;
    vertical-align: top;
}
    #login_success h2 {
    text-align: center;
    }

    #login_success div {
    width: 40%;
    margin-left: 400px;
    }

    #login_success p {
        display: inline-block;
    }

    #welcome {
        margin-left: 400px;
        margin-right: 200px;
    }
